#message {
  display: none;
  background: #ffff;
  color: #000;
  position: relative;
  padding: 10px;
  margin-top: 10px;
}

#message p {
  padding: 0px 10px;
  font-size: 12px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: #05b00e;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: #f93123;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
